DB_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost,1433;DATABASE=EternaGuerraAuth;UID=sa;PWD=YourStrong!Passw0rd;Encrypt=no;TrustServerCertificate=yes;
API_PORT=8080
WORLD_IP=127.0.0.1
WORLD_PORT=5999
